[submodule "repo/ViT/vit-pytorch"]
	path = repo/ViT/vit-pytorch
	url = https://github.com/yhyu13/vit-pytorch.git
[submodule "repo/Nerf/instant-ngp"]
	path = repo/Nerf/instant-ngp
	url = https://github.com/yhyu13/instant-ngp.git
[submodule "repo/Nerf/taichi-ngp-renderer"]
	path = repo/Nerf/taichi-ngp-renderer
	url = https://github.com/yhyu13/taichi-ngp-renderer.git
[submodule "repo/ChatGPT/PromptCraft-Robotics"]
	path = repo/ChatGPT/PromptCraft-Robotics
	url = https://github.com/microsoft/PromptCraft-Robotics.git
[submodule "repo/ChatGPT/chatgpt-prompt-evaluator"]
	path = repo/ChatGPT/chatgpt-prompt-evaluator
	url = https://github.com/alignedai/chatgpt-prompt-evaluator.git
[submodule "repo/ChatGPT/ChatGPT-Prompts"]
	path = repo/ChatGPT/ChatGPT-Prompts
	url = https://github.com/yokoffing/ChatGPT-Prompts.git
[submodule "repo/StableDiffusion/stable-diffusion-nvidia-docker"]
	path = repo/StableDiffusion/stable-diffusion-nvidia-docker
	url = https://github.com/NickLucche/stable-diffusion-nvidia-docker.git
[submodule "repo/Docker/nvidia-docker"]
	path = repo/Docker/nvidia-docker
	url = https://github.com/NVIDIA/nvidia-docker.git
[submodule "repo/Docker/cuda"]
	path = repo/Docker/cuda
	url = https://gitlab.com/nvidia/container-images/cuda.git
[submodule "repo/StableDiffusion/stable-disffusion-playeground"]
	path = repo/StableDiffusion/stable-disffusion-playeground
	url = https://gitee.com/yhyu13/stable-disffusion-playeground.git
[submodule "repo/BrainCog/braincog"]
	path = repo/BrainCog/braincog
	url = https://openi.pcl.ac.cn/BrainCogLab/braincog.git
[submodule "repo/BCI/MetaBCI"]
	path = repo/BCI/MetaBCI
	url = https://github.com/TBC-TJU/MetaBCI.git
[submodule "repo/StableDiffusion/sd-scripts"]
	path = repo/StableDiffusion/sd-scripts
	url = https://github.com/kohya-ss/sd-scripts.git
[submodule "repo/StableDiffusion/kohya_ss"]
	path = repo/StableDiffusion/kohya_ss
	url = https://github.com/bmaltais/kohya_ss.git
[submodule "repo/StableDiffusion/kohya_ss-docker"]
	path = repo/StableDiffusion/kohya_ss-docker
	url = https://github.com/P2Enjoy/kohya_ss-docker.git
[submodule "repo/ChatGPT/stanford_alpaca"]
	path = repo/ChatGPT/stanford_alpaca
	url = https://github.com/tatsu-lab/stanford_alpaca.git
[submodule "repo/ChatGPT/ChatGLM-6B"]
	path = repo/ChatGPT/ChatGLM-6B
	url = https://github.com/THUDM/ChatGLM-6B.git
[submodule "repo/ChatGPT/GLM-130B"]
	path = repo/ChatGPT/GLM-130B
	url = https://github.com/THUDM/GLM-130B.git
[submodule "repo/BrainCog/timm"]
	path = repo/BrainCog/timm
	url = https://github.com/pprp/timm.git
[submodule "repo/StableDiffusion/ComfyUI"]
	path = repo/StableDiffusion/ComfyUI
	url = https://github.com/comfyanonymous/ComfyUI.git
