[submodule "repo/ViT/vit-pytorch"]
	path = repo/ViT/vit-pytorch
	url = https://github.com/yhyu13/vit-pytorch.git
[submodule "repo/Nerf/instant-ngp"]
	path = repo/Nerf/instant-ngp
	url = https://github.com/yhyu13/instant-ngp.git
[submodule "repo/Nerf/taichi-ngp-renderer"]
	path = repo/Nerf/taichi-ngp-renderer
	url = https://github.com/yhyu13/taichi-ngp-renderer.git
[submodule "repo/ChatGPT/PromptCraft-Robotics"]
	path = repo/LLM/ChatGPT/PromptCraft-Robotics
	url = https://github.com/microsoft/PromptCraft-Robotics.git
[submodule "repo/ChatGPT/chatgpt-prompt-evaluator"]
	path = repo/LLM/ChatGPT/chatgpt-prompt-evaluator
	url = https://github.com/alignedai/chatgpt-prompt-evaluator.git
[submodule "repo/ChatGPT/ChatGPT-Prompts"]
	path = repo/LLM/ChatGPT/ChatGPT-Prompts
	url = https://github.com/yokoffing/ChatGPT-Prompts.git
[submodule "repo/StableDiffusion/stable-diffusion-nvidia-docker"]
	path = repo/AIGC/StableDiffusion/stable-diffusion-nvidia-docker
	url = https://github.com/NickLucche/stable-diffusion-nvidia-docker.git
[submodule "repo/Docker/nvidia-docker"]
	path = repo/Docker/nvidia-docker
	url = https://github.com/NVIDIA/nvidia-docker.git
[submodule "repo/Docker/cuda"]
	path = repo/Docker/cuda
	url = https://gitlab.com/nvidia/container-images/cuda.git
[submodule "repo/StableDiffusion/stable-disffusion-playeground"]
	path = repo/AIGC/StableDiffusion/stable-disffusion-playeground
	url = https://gitee.com/yhyu13/stable-disffusion-playeground.git
[submodule "repo/BrainCog/braincog"]
	path = repo/BrainCog/braincog
	url = https://openi.pcl.ac.cn/BrainCogLab/braincog.git
[submodule "repo/BCI/MetaBCI"]
	path = repo/BCI/MetaBCI
	url = https://github.com/TBC-TJU/MetaBCI.git
[submodule "repo/StableDiffusion/sd-scripts"]
	path = repo/AIGC/StableDiffusion/sd-scripts
	url = https://github.com/kohya-ss/sd-scripts.git
[submodule "repo/StableDiffusion/kohya_ss"]
	path = repo/AIGC/StableDiffusion/kohya_ss
	url = https://github.com/bmaltais/kohya_ss.git
[submodule "repo/StableDiffusion/kohya_ss-docker"]
	path = repo/AIGC/StableDiffusion/kohya_ss-docker
	url = https://github.com/P2Enjoy/kohya_ss-docker.git
[submodule "repo/ChatGLM/ChatGLM-6B"]
	path = repo/LLM/ChatGLM/ChatGLM-6B
	url = https://github.com/THUDM/ChatGLM-6B.git
[submodule "repo/ChatGLM/GLM-130B"]
	path = repo/LLM/ChatGLM/GLM-130B
	url = https://github.com/THUDM/GLM-130B.git
[submodule "repo/BrainCog/timm"]
	path = repo/BrainCog/timm
	url = https://github.com/pprp/timm.git
[submodule "repo/StableDiffusion/ComfyUI"]
	path = repo/AIGC/StableDiffusion/ComfyUI
	url = https://github.com/comfyanonymous/ComfyUI.git
[submodule "repo/AIVtuber/AI-Vtuber"]
	path = repo/AIVtuber/AI-Vtuber
	url = https://github.com/XzaiCloud/AI-Vtuber.git
[submodule "repo/ChatGLM/chatglm_webui"]
	path = repo/LLM/ChatGLM/chatglm_webui
	url = https://github.com/OedoSoldier/chatglm_webui.git
[submodule "repo/cuda/tiny-cuda-nn"]
	path = repo/cuda/tiny-cuda-nn
	url = https://github.com/NVlabs/tiny-cuda-nn.git
[submodule "repo/ChatGPT/chatGPTBox"]
	path = repo/LLMApp/chatGPTBox
	url = https://github.com/josStorer/chatGPTBox.git
[submodule "repo/SNN/SNN-Daily-Arxiv"]
	path = repo/SNN/SNN-Daily-Arxiv
	url = https://github.com/SpikingChen/SNN-Daily-Arxiv.git
[submodule "repo/SNN/SNN_conversion_QCFS"]
	path = repo/SNN/SNN_conversion_QCFS
	url = https://github.com/putshua/SNN_conversion_QCFS.git
[submodule "repo/SNN/SpikeGPT"]
	path = repo/SNN/SpikeGPT
	url = https://github.com/ridgerchu/SpikeGPT.git
[submodule "repo/Nerf/nerfstudio"]
	path = repo/Nerf/nerfstudio
	url = https://github.com/nerfstudio-project/nerfstudio.git
[submodule "repo/cuda/hash-grid-encoding"]
	path = repo/cuda/hash-grid-encoding
	url = https://github.com/Ending2015a/hash-grid-encoding.git
[submodule "repo/NTK/scikit-ntk"]
	path = repo/NTK/scikit-ntk
	url = https://github.com/392781/scikit-ntk.git
[submodule "repo/NTK/NTK-study"]
	path = repo/NTK/NTK-study
	url = https://github.com/genglinliu/NTK-study.git
[submodule "repo/NTK/nngeometry"]
	path = repo/NTK/nngeometry
	url = https://github.com/tfjgeorge/nngeometry.git
[submodule "repo/NTK/TENAS"]
	path = repo/NTK/TENAS
	url = https://github.com/VITA-Group/TENAS.git
[submodule "repo/NTK/NTK4A"]
	path = repo/NTK/NTK4A
	url = https://github.com/thegregyang/NTK4A.git
[submodule "repo/NTK/PINNsNTK"]
	path = repo/NTK/PINNsNTK
	url = https://github.com/PredictiveIntelligenceLab/PINNsNTK.git
[submodule "repo/NTK/NTK"]
	path = repo/NTK/NTK
	url = https://github.com/rajatvd/NTK.git
[submodule "repo/Pangu/pcl_pangu"]
	path = repo/Pangu/pcl_pangu
	url = https://openi.pcl.ac.cn/PCL-Platform.Intelligence/pcl_pangu.git
[submodule "repo/Nerf/NeRF-Editing"]
	path = repo/Nerf/NeRF-Editing
	url = https://github.com/IGLICT/NeRF-Editing.git
[submodule "repo/AIPhysics/PhySO"]
	path = repo/AIPhysics/PhySO
	url = https://github.com/WassimTenachi/PhySO.git
[submodule "repo/Nerf/nerfshop"]
	path = repo/Nerf/nerfshop
	url = https://github.com/graphdeco-inria/nerfshop.git
[submodule "repo/Nerf/3d-cinemagraphy"]
	path = repo/Nerf/3d-cinemagraphy
	url = https://github.com/xingyi-li/3d-cinemagraphy.git
[submodule "repo/AIOptimization/FlexGen"]
	path = repo/AIOptimization/FlexGen
	url = https://github.com/FMInference/FlexGen
[submodule "repo/Prompting/gpt-4-for-code"]
	path = repo/Prompting/gpt-4-for-code
	url = https://github.com/anysphere/gpt-4-for-code.git
[submodule "repo/Prompting/Learn_Prompting"]
	path = repo/Prompting/Learn_Prompting
	url = https://github.com/trigaten/Learn_Prompting.git
[submodule "repo/NTK/GP4A"]
	path = repo/NTK/GP4A
	url = https://github.com/thegregyang/GP4A.git
[submodule "repo/ChatGPT/ChatPaper"]
	path = repo/LLMApp/ChatPaper
	url = https://github.com/yhyu13/ChatPaper.git
	branch = gui
[submodule "repo/LLaMA/Alpaca-CoT"]
	path = repo/LLM/LLaMA/Alpaca-CoT
	url = https://github.com/PhoebusSi/Alpaca-CoT.git
[submodule "repo/LLaMA/stanford_alpaca"]
	path = repo/LLM/LLaMA/stanford_alpaca
	url = https://github.com/tatsu-lab/stanford_alpaca.git
[submodule "repo/OpenAI/Gymnasium"]
	path = repo/OpenAI/Gymnasium
	url = https://github.com/Farama-Foundation/Gymnasium.git
[submodule "repo/ChatGPT/chatgpt_academic"]
	path = repo/LLMApp/chatgpt_academic
	url = https://github.com/binary-husky/chatgpt_academic.git
[submodule "repo/ChatYuan/ChatYuan"]
	path = repo/LLM/ChatYuan/ChatYuan
	url = https://github.com/clue-ai/ChatYuan.git
[submodule "repo/ChatGPT/awesome-totally-open-chatgpt"]
	path = repo/LLM/ChatGPT/awesome-totally-open-chatgpt
	url = https://github.com/nichtdax/awesome-totally-open-chatgpt.git
[submodule "repo/LLaMA/BELLE"]
	path = repo/LLM/LLaMA/BELLE
	url = https://github.com/LianjiaTech/BELLE.git
[submodule "repo/ChatGLM/ChatGLM-chinese-insturct"]
	path = repo/LLM/ChatGLM/ChatGLM-chinese-insturct
	url = https://github.com/27182812/ChatGLM-chinese-insturct.git
[submodule "repo/Multi-Modal/unidiffuser"]
	path = repo/Architecture/unidiffuser
	url = https://github.com/thu-ml/unidiffuser.git
[submodule "repo/Multi-Modal/simpletransformers"]
	path = repo/Architecture/simpletransformers
	url = https://github.com/ThilinaRajapakse/simpletransformers.git
[submodule "repo/Multi-Modal/torchscale"]
	path = repo/Architecture/torchscale
	url = https://github.com/microsoft/torchscale.git
[submodule "repo/LLaMA/Chinese-LLaMA-Alpaca"]
	path = repo/LLM/LLaMA/Chinese-LLaMA-Alpaca
	url = https://github.com/ymcui/Chinese-LLaMA-Alpaca.git
[submodule "repo/Prompting/camel"]
	path = repo/Prompting/camel
	url = https://github.com/lightaime/camel.git
[submodule "repo/Prompting/language-planner"]
	path = repo/Prompting/language-planner
	url = https://github.com/huangwl18/language-planner.git
[submodule "repo/LLaMA/LMFlow"]
	path = repo/LLM/LLaMA/LMFlow
	url = https://github.com/OptimalScale/LMFlow.git
[submodule "repo/Nerf/nerfmeshes"]
	path = repo/Nerf/nerfmeshes
	url = https://github.com/qway/nerfmeshes.git
[submodule "repo/Nerf/MeshDiffusion"]
	path = repo/Nerf/MeshDiffusion
	url = https://github.com/lzzcd001/MeshDiffusion.git
[submodule "repo/Nerf/nvdiffrec"]
	path = repo/Nerf/nvdiffrec
	url = https://github.com/NVlabs/nvdiffrec.git
[submodule "repo/ChatGPT/ChatGPT"]
	path = repo/LLM/ChatGPT/ChatGPT
	url = https://github.com/nzwaneveld/ChatGPT.git
[submodule "repo/LLaMA/FastChat"]
	path = repo/LLM/LLaMA/FastChat
	url = https://github.com/yhyu13/FastChat.git
	branch = dev
[submodule "repo/ChatGPT/chatdoc"]
	path = repo/LLMApp/chatdoc
	url = https://github.com/daodao97/chatdoc.git
[submodule "repo/ChatGPT/ChatGPT_JCM"]
	path = repo/LLMApp/ChatGPT_JCM
	url = https://github.com/202252197/ChatGPT_JCM.git
[submodule "repo/ChatGLM/ChatGLM-MNN"]
	path = repo/LLM/ChatGLM/ChatGLM-MNN
	url = https://github.com/wangzhaode/ChatGLM-MNN.git
[submodule "repo/LLMApp/wenda"]
	path = repo/LLMApp/wenda
	url = https://github.com/l15y/wenda.git
[submodule "repo/Multi-Modal/SwissArmyTransformer"]
	path = repo/Architecture/SwissArmyTransformer
	url = https://github.com/THUDM/SwissArmyTransformer.git
[submodule "repo/OpenAI/openai-cookbook"]
	path = repo/OpenAI/openai-cookbook
	url = https://github.com/openai/openai-cookbook.git
[submodule "repo/OpenAI/openai-python"]
	path = repo/OpenAI/openai-python
	url = https://github.com/openai/openai-python.git
[submodule "repo/LLMApp/babyagi"]
	path = repo/LLMApp/babyagi
	url = https://github.com/yoheinakajima/babyagi.git
[submodule "repo/LLMApp/Auto-GPT"]
	path = repo/LLMApp/Auto-GPT
	url = https://github.com/Torantulino/Auto-GPT.git
[submodule "repo/Multi-Modal/segment-anything"]
	path = repo/Multi-Modal/segment-anything
	url = https://github.com/facebookresearch/segment-anything.git
[submodule "repo/Multi-Modal/CLIP-SAM"]
	path = repo/Multi-Modal/CLIP-SAM
	url = https://github.com/maxi-w/CLIP-SAM.git
[submodule "repo/LLMApp/ChatGPT-Next-Web"]
	path = repo/LLMApp/ChatGPT-Next-Web
	url = https://github.com/Yidadaa/ChatGPT-Next-Web.git
[submodule "repo/LLaMA/LLM-Adapters"]
	path = repo/LLM/LLaMA/LLM-Adapters
	url = https://github.com/AGI-Edgerunners/LLM-Adapters.git
[submodule "repo/AIOptimization/flash-attention"]
	path = repo/AIOptimization/flash-attention
	url = https://github.com/HazyResearch/flash-attention.git
[submodule "repo/Prompting/ama_prompting"]
	path = repo/Prompting/ama_prompting
	url = https://github.com/HazyResearch/ama_prompting.git
[submodule "repo/LLMApp/chathub"]
	path = repo/LLMApp/chathub
	url = https://github.com/chathub-dev/chathub.git
[submodule "repo/BCI/EEG/Python-EEG-Handbook"]
	path = repo/BCI/EEG/Python-EEG-Handbook
	url = https://github.com/ZitongLu1996/Python-EEG-Handbook.git
[submodule "repo/BCI/EEG/EEGdenoiseNet"]
	path = repo/BCI/EEG/EEGdenoiseNet
	url = https://github.com/ncclabsustech/EEGdenoiseNet.git
[submodule "repo/BCI/EEG/RELAX"]
	path = repo/BCI/EEG/RELAX
	url = https://github.com/NeilwBailey/RELAX.git
[submodule "repo/LLMApp/visual-openllm"]
	path = repo/LLMApp/visual-openllm
	url = https://github.com/visual-openllm/visual-openllm.git
[submodule "repo/Multi-Modal/mm-cot"]
	path = repo/Multi-Modal/mm-cot
	url = https://github.com/amazon-science/mm-cot.git
[submodule "repo/Conference/CVPR2023-Papers-with-Code"]
	path = repo/Conference/CVPR2023-Papers-with-Code
	url = https://github.com/amusi/CVPR2023-Papers-with-Code.git
[submodule "repo/Career/AI-Job-Notes"]
	path = repo/Career/AI-Job-Notes
	url = https://github.com/amusi/AI-Job-Notes.git
[submodule "repo/Career/Deep-Learning-Interview-Book"]
	path = repo/Career/Deep-Learning-Interview-Book
	url = https://github.com/amusi/Deep-Learning-Interview-Book.git
[submodule "repo/Multi-Modal/Painter"]
	path = repo/Multi-Modal/Painter
	url = https://github.com/baaivision/Painter.git
[submodule "repo/OpenAI/evals"]
	path = repo/OpenAI/evals
	url = https://github.com/openai/evals.git
[submodule "repo/LLM/CoT/Chain-of-ThoughtsPapers"]
	path = repo/LLM/CoT/Chain-of-ThoughtsPapers
	url = https://github.com/Timothyxxx/Chain-of-ThoughtsPapers.git
[submodule "repo/AIMotion/motion-latent-diffusion"]
	path = repo/AIGC/Text2Motion/motion-latent-diffusion
	url = https://github.com/ChenFengYe/motion-latent-diffusion.git
[submodule "repo/AIMotion/motion-diffusion-model"]
	path = repo/AIGC/Text2Motion/motion-diffusion-model
	url = https://github.com/GuyTevet/motion-diffusion-model.git
[submodule "repo/AIMotion/MotionDiffuse"]
	path = repo/AIGC/Text2Motion/MotionDiffuse
	url = https://github.com/mingyuan-zhang/MotionDiffuse.git
[submodule "repo/LLMApp/fauxpilot"]
	path = repo/LLMApp/fauxpilot
	url = https://github.com/fauxpilot/fauxpilot.git
[submodule "repo/LLMApp/JARVIS"]
	path = repo/LLMApp/JARVIS
	url = https://github.com/microsoft/JARVIS.git
[submodule "repo/LLM/CoT/ThoughtSource"]
	path = repo/LLM/CoT/ThoughtSource
	url = https://github.com/OpenBioLink/ThoughtSource.git
[submodule "repo/LLaMA/gpt4all"]
	path = repo/LLM/LLaMA/gpt4all_repo/gpt4all
	url = https://github.com/nomic-ai/gpt4all.git
[submodule "repo/AIGC/InvokeAI"]
	path = repo/AIGC/InvokeAI
	url = https://github.com/invoke-ai/InvokeAI.git
[submodule "repo/LLM/LLaMA/nomic"]
	path = repo/LLM/LLaMA/gpt4all_repo/nomic
	url = https://github.com/nomic-ai/nomic.git
[submodule "repo/LLM/LLaMA/alpaca-lora"]
	path = repo/LLM/LLaMA/alpaca-lora
	url = https://github.com/tloen/alpaca-lora.git
[submodule "repo/LLM/LLaMA/gpt4all-ui"]
	path = repo/LLM/LLaMA/gpt4all-ui
	url = https://github.com/nomic-ai/gpt4all-ui.git
[submodule "repo/LLM/LLaMA/codealpaca"]
	path = repo/LLM/LLaMA/codealpaca
	url = https://github.com/sahil280114/codealpaca.git
[submodule "repo/LLM/LLaMA/llama.cpp"]
	path = repo/LLM/LLaMA/llama.cpp
	url = https://github.com/ggerganov/llama.cpp.git
	branch = flash-attn
[submodule "repo/LLM/LLaMA/gpt4all_repo/gpt4all-ui"]
	path = repo/LLMApp/llama_cpp/gpt4all-ui
	url = https://github.com/yhyu13/gpt4all-ui.git
	branch = dev
[submodule "repo/LLM/ChatGLM/ChatGlm-Uni"]
	path = repo/LLM/ChatGLM/ChatGlm-Uni
	url = https://github.com/StarRing2022/ChatGlm-Uni.git
[submodule "repo/LLM/ChatGLM/CodeGeeX"]
	path = repo/LLM/ChatGLM/CodeGeeX
	url = https://github.com/THUDM/CodeGeeX.git
[submodule "repo/LLM/LLaMA/MiniGPT-4"]
	path = repo/LLM/LLaMA/MiniGPT-4
	url = https://github.com/Vision-CAIR/MiniGPT-4.git
[submodule "repo/LLMApp/llama_cpp/go-llama.cpp-ui"]
	path = repo/LLMApp/llama_cpp/go-llama.cpp-ui
	url = https://github.com/wailovet/go-llama.cpp-ui.git
[submodule "repo/LLM/LLaMA/ZeYangGPT-Uni"]
	path = repo/LLM/LLaMA/ZeYangGPT-Uni
	url = https://github.com/StarRing2022/ZeYangGPT-Uni.git
[submodule "repo/LLM/LLaMA/Chinese-Vicuna"]
	path = repo/LLM/LLaMA/Chinese-Vicuna
	url = https://github.com/Facico/Chinese-Vicuna.git
[submodule "repo/LLM/Debug/Visualizer"]
	path = repo/LLM/Debug/Visualizer
	url = https://github.com/luo3300612/Visualizer.git
[submodule "repo/LLM/Debug/Text-Attention-Heatmap-Visualization"]
	path = repo/LLM/Debug/Text-Attention-Heatmap-Visualization
	url = https://github.com/jiesutd/Text-Attention-Heatmap-Visualization.git
[submodule "repo/LLMApp/text-generation-webui"]
	path = repo/LLMApp/text-generation-webui
	url = https://github.com/yhyu13/text-generation-webui.git
	branch = dev
[submodule "repo/LLM/LLaMA/GPTQ-for-LLaMa"]
	path = repo/LLM/LLaMA/GPTQ-for-LLaMa
	url = https://github.com/oobabooga/GPTQ-for-LLaMa.git
[submodule "repo/LLM/Prompting/PromptKG"]
	path = repo/LLM/Prompting/PromptKG
	url = https://github.com/zjunlp/PromptKG.git
[submodule "repo/LLMApp/AutoGPT-Next-Web"]
	path = repo/LLMApp/AutoGPT-Next-Web
	url = https://github.com/Dogtiti/AutoGPT-Next-Web.git
