[submodule "repo/ViT/vit-pytorch"]
	path = repo/ViT/vit-pytorch
	url = https://github.com/yhyu13/vit-pytorch.git
[submodule "repo/Nerf/instant-ngp"]
	path = repo/Nerf/instant-ngp
	url = https://github.com/yhyu13/instant-ngp.git
[submodule "repo/Nerf/taichi-ngp-renderer"]
	path = repo/Nerf/taichi-ngp-renderer
	url = https://github.com/yhyu13/taichi-ngp-renderer.git
[submodule "repo/ChatGPT/PromptCraft-Robotics"]
	path = repo/LLM/ChatGPT/PromptCraft-Robotics
	url = https://github.com/microsoft/PromptCraft-Robotics.git
[submodule "repo/ChatGPT/chatgpt-prompt-evaluator"]
	path = repo/LLM/ChatGPT/chatgpt-prompt-evaluator
	url = https://github.com/alignedai/chatgpt-prompt-evaluator.git
[submodule "repo/ChatGPT/ChatGPT-Prompts"]
	path = repo/LLM/ChatGPT/ChatGPT-Prompts
	url = https://github.com/yokoffing/ChatGPT-Prompts.git
[submodule "repo/StableDiffusion/stable-diffusion-nvidia-docker"]
	path = repo/AIGC/text22D/stable-diffusion-nvidia-docker
	url = https://github.com/NickLucche/stable-diffusion-nvidia-docker.git
[submodule "repo/Docker/nvidia-docker"]
	path = repo/Docker/nvidia-docker
	url = https://github.com/NVIDIA/nvidia-docker.git
[submodule "repo/Docker/cuda"]
	path = repo/Docker/cuda
	url = https://gitlab.com/nvidia/container-images/cuda.git
[submodule "repo/StableDiffusion/stable-disffusion-playeground"]
	path = repo/AIGC/text22D/stable-disffusion-playeground
	url = https://gitee.com/yhyu13/stable-disffusion-playeground.git
[submodule "repo/BrainCog/braincog"]
	path = repo/BrainCog/braincog
	url = https://openi.pcl.ac.cn/BrainCogLab/braincog.git
[submodule "repo/BCI/MetaBCI"]
	path = repo/BCI/MetaBCI
	url = https://github.com/TBC-TJU/MetaBCI.git
[submodule "repo/StableDiffusion/sd-scripts"]
	path = repo/AIGC/text22D/sd-scripts
	url = https://github.com/kohya-ss/sd-scripts.git
[submodule "repo/StableDiffusion/kohya_ss"]
	path = repo/AIGC/text22D/kohya_ss
	url = https://github.com/bmaltais/kohya_ss.git
[submodule "repo/StableDiffusion/kohya_ss-docker"]
	path = repo/AIGC/text22D/kohya_ss-docker
	url = https://github.com/P2Enjoy/kohya_ss-docker.git
[submodule "repo/ChatGLM/ChatGLM-6B"]
	path = repo/LLM/ChatGLM/ChatGLM-6B
	url = https://github.com/THUDM/ChatGLM-6B.git
[submodule "repo/ChatGLM/GLM-130B"]
	path = repo/LLM/ChatGLM/GLM-130B
	url = https://github.com/THUDM/GLM-130B.git
[submodule "repo/BrainCog/timm"]
	path = repo/BrainCog/timm
	url = https://github.com/pprp/timm.git
[submodule "repo/StableDiffusion/ComfyUI"]
	path = repo/AIGC/text22D/ComfyUI
	url = https://github.com/comfyanonymous/ComfyUI.git
[submodule "repo/AIVtuber/AI-Vtuber"]
	path = repo/AIVtuber/AI-Vtuber
	url = https://github.com/XzaiCloud/AI-Vtuber.git
[submodule "repo/ChatGLM/chatglm_webui"]
	path = repo/LLM/ChatGLM/chatglm_webui
	url = https://github.com/OedoSoldier/chatglm_webui.git
[submodule "repo/cuda/tiny-cuda-nn"]
	path = repo/cuda/tiny-cuda-nn
	url = https://github.com/NVlabs/tiny-cuda-nn.git
[submodule "repo/ChatGPT/chatGPTBox"]
	path = repo/LLMApp/chatGPTBox
	url = https://github.com/josStorer/chatGPTBox.git
[submodule "repo/SNN/SNN-Daily-Arxiv"]
	path = repo/SNN/SNN-Daily-Arxiv
	url = https://github.com/SpikingChen/SNN-Daily-Arxiv.git
[submodule "repo/SNN/SNN_conversion_QCFS"]
	path = repo/SNN/SNN_conversion_QCFS
	url = https://github.com/putshua/SNN_conversion_QCFS.git
[submodule "repo/SNN/SpikeGPT"]
	path = repo/SNN/SpikeGPT
	url = https://github.com/ridgerchu/SpikeGPT.git
[submodule "repo/Nerf/nerfstudio"]
	path = repo/Nerf/nerfstudio
	url = https://github.com/nerfstudio-project/nerfstudio.git
[submodule "repo/cuda/hash-grid-encoding"]
	path = repo/cuda/hash-grid-encoding
	url = https://github.com/Ending2015a/hash-grid-encoding.git
[submodule "repo/NTK/scikit-ntk"]
	path = repo/NTK/scikit-ntk
	url = https://github.com/392781/scikit-ntk.git
[submodule "repo/NTK/NTK-study"]
	path = repo/NTK/NTK-study
	url = https://github.com/genglinliu/NTK-study.git
[submodule "repo/NTK/nngeometry"]
	path = repo/NTK/nngeometry
	url = https://github.com/tfjgeorge/nngeometry.git
[submodule "repo/NTK/TENAS"]
	path = repo/NTK/TENAS
	url = https://github.com/VITA-Group/TENAS.git
[submodule "repo/NTK/NTK4A"]
	path = repo/NTK/NTK4A
	url = https://github.com/thegregyang/NTK4A.git
[submodule "repo/NTK/PINNsNTK"]
	path = repo/NTK/PINNsNTK
	url = https://github.com/PredictiveIntelligenceLab/PINNsNTK.git
[submodule "repo/NTK/NTK"]
	path = repo/NTK/NTK
	url = https://github.com/rajatvd/NTK.git
[submodule "repo/Pangu/pcl_pangu"]
	path = repo/Pangu/pcl_pangu
	url = https://openi.pcl.ac.cn/PCL-Platform.Intelligence/pcl_pangu.git
[submodule "repo/Nerf/NeRF-Editing"]
	path = repo/Nerf/NeRF-Editing
	url = https://github.com/IGLICT/NeRF-Editing.git
[submodule "repo/AIPhysics/PhySO"]
	path = repo/AIPhysics/PhySO
	url = https://github.com/WassimTenachi/PhySO.git
[submodule "repo/Nerf/nerfshop"]
	path = repo/Nerf/nerfshop
	url = https://github.com/graphdeco-inria/nerfshop.git
[submodule "repo/Nerf/3d-cinemagraphy"]
	path = repo/Nerf/3d-cinemagraphy
	url = https://github.com/xingyi-li/3d-cinemagraphy.git
[submodule "repo/AIOptimization/FlexGen"]
	path = repo/AIOptimization/FlexGen
	url = https://github.com/FMInference/FlexGen
[submodule "repo/Prompting/gpt-4-for-code"]
	path = repo/Prompting/gpt-4-for-code
	url = https://github.com/anysphere/gpt-4-for-code.git
[submodule "repo/Prompting/Learn_Prompting"]
	path = repo/Prompting/Learn_Prompting
	url = https://github.com/trigaten/Learn_Prompting.git
[submodule "repo/NTK/GP4A"]
	path = repo/NTK/GP4A
	url = https://github.com/thegregyang/GP4A.git
[submodule "repo/ChatGPT/ChatPaper"]
	path = repo/LLMApp/ChatPaper
	url = https://github.com/yhyu13/ChatPaper.git
	branch = gui
[submodule "repo/LLaMA/Alpaca-CoT"]
	path = repo/LLM/LLaMA/Alpaca-CoT
	url = https://github.com/PhoebusSi/Alpaca-CoT.git
[submodule "repo/LLaMA/stanford_alpaca"]
	path = repo/LLM/LLaMA/stanford_alpaca
	url = https://github.com/tatsu-lab/stanford_alpaca.git
[submodule "repo/OpenAI/Gymnasium"]
	path = repo/OpenAI/Gymnasium
	url = https://github.com/Farama-Foundation/Gymnasium.git
[submodule "repo/ChatGPT/chatgpt_academic"]
	path = repo/LLMApp/chatgpt_academic
	url = https://github.com/yhyu13/gpt_academic.git
	branch = dev
[submodule "repo/ChatYuan/ChatYuan"]
	path = repo/LLM/ChatYuan/ChatYuan
	url = https://github.com/clue-ai/ChatYuan.git
[submodule "repo/ChatGPT/awesome-totally-open-chatgpt"]
	path = repo/Awesome-repo/awesome-totally-open-chatgpt
	url = https://github.com/nichtdax/awesome-totally-open-chatgpt.git
[submodule "repo/LLaMA/BELLE"]
	path = repo/LLM/LLaMA/BELLE
	url = https://github.com/LianjiaTech/BELLE.git
[submodule "repo/ChatGLM/ChatGLM-chinese-insturct"]
	path = repo/LLM/ChatGLM/ChatGLM-chinese-insturct
	url = https://github.com/27182812/ChatGLM-chinese-insturct.git
[submodule "repo/Multi-Modal/unidiffuser"]
	path = repo/Architecture/unidiffuser
	url = https://github.com/thu-ml/unidiffuser.git
[submodule "repo/Multi-Modal/simpletransformers"]
	path = repo/Architecture/simpletransformers
	url = https://github.com/ThilinaRajapakse/simpletransformers.git
[submodule "repo/Multi-Modal/torchscale"]
	path = repo/Architecture/torchscale
	url = https://github.com/microsoft/torchscale.git
[submodule "repo/LLaMA/Chinese-LLaMA-Alpaca"]
	path = repo/LLM/LLaMA/Chinese-LLaMA-Alpaca
	url = https://github.com/ymcui/Chinese-LLaMA-Alpaca.git
[submodule "repo/Prompting/camel"]
	path = repo/Prompting/camel
	url = https://github.com/lightaime/camel.git
[submodule "repo/Prompting/language-planner"]
	path = repo/Prompting/language-planner
	url = https://github.com/huangwl18/language-planner.git
[submodule "repo/LLaMA/LMFlow"]
	path = repo/LLM/LLaMA/LMFlow
	url = https://github.com/OptimalScale/LMFlow.git
[submodule "repo/Nerf/nerfmeshes"]
	path = repo/Nerf/nerfmeshes
	url = https://github.com/qway/nerfmeshes.git
[submodule "repo/Nerf/MeshDiffusion"]
	path = repo/Nerf/MeshDiffusion
	url = https://github.com/lzzcd001/MeshDiffusion.git
[submodule "repo/Nerf/nvdiffrec"]
	path = repo/Nerf/nvdiffrec
	url = https://github.com/NVlabs/nvdiffrec.git
[submodule "repo/ChatGPT/ChatGPT"]
	path = repo/LLM/ChatGPT/ChatGPT
	url = https://github.com/nzwaneveld/ChatGPT.git
[submodule "repo/LLaMA/FastChat"]
	path = repo/LLM/LLaMA/FastChat
	url = https://github.com/yhyu13/FastChat.git
	branch = dev
[submodule "repo/ChatGPT/chatdoc"]
	path = repo/LLMApp/chatdoc
	url = https://github.com/daodao97/chatdoc.git
[submodule "repo/ChatGPT/ChatGPT_JCM"]
	path = repo/LLMApp/ChatGPT_JCM
	url = https://github.com/202252197/ChatGPT_JCM.git
[submodule "repo/ChatGLM/ChatGLM-MNN"]
	path = repo/LLM/ChatGLM/ChatGLM-MNN
	url = https://github.com/wangzhaode/ChatGLM-MNN.git
[submodule "repo/LLMApp/wenda"]
	path = repo/LLMApp/wenda
	url = https://github.com/yhyu13/wenda.git
	branch = dev
[submodule "repo/Multi-Modal/SwissArmyTransformer"]
	path = repo/Architecture/SwissArmyTransformer
	url = https://github.com/THUDM/SwissArmyTransformer.git
[submodule "repo/OpenAI/openai-cookbook"]
	path = repo/OpenAI/openai-cookbook
	url = https://github.com/openai/openai-cookbook.git
[submodule "repo/OpenAI/openai-python"]
	path = repo/OpenAI/openai-python
	url = https://github.com/openai/openai-python.git
[submodule "repo/LLMApp/babyagi"]
	path = repo/LLMApp/babyagi
	url = https://github.com/yoheinakajima/babyagi.git
[submodule "repo/LLMApp/Auto-GPT"]
	path = repo/LLMApp/Auto-GPT
	url = https://github.com/yhyu13/Auto-GPT.git
	branch = dev
[submodule "repo/Multi-Modal/segment-anything"]
	path = repo/FacebookAI/segment-anything
	url = https://github.com/facebookresearch/segment-anything.git
[submodule "repo/Multi-Modal/CLIP-SAM"]
	path = repo/Multi-Modal/CLIP-SAM
	url = https://github.com/maxi-w/CLIP-SAM.git
[submodule "repo/LLMApp/ChatGPT-Next-Web"]
	path = repo/LLMApp/ChatGPT-Next-Web
	url = https://github.com/Yidadaa/ChatGPT-Next-Web.git
[submodule "repo/LLaMA/LLM-Adapters"]
	path = repo/LLM/LLaMA/LLM-Adapters
	url = https://github.com/AGI-Edgerunners/LLM-Adapters.git
[submodule "repo/AIOptimization/flash-attention"]
	path = repo/AIOptimization/flash-attention
	url = https://github.com/HazyResearch/flash-attention.git
[submodule "repo/Prompting/ama_prompting"]
	path = repo/Prompting/ama_prompting
	url = https://github.com/HazyResearch/ama_prompting.git
[submodule "repo/LLMApp/chathub"]
	path = repo/LLMApp/chathub
	url = https://github.com/chathub-dev/chathub.git
[submodule "repo/BCI/EEG/Python-EEG-Handbook"]
	path = repo/BCI/EEG/Python-EEG-Handbook
	url = https://github.com/ZitongLu1996/Python-EEG-Handbook.git
[submodule "repo/BCI/EEG/EEGdenoiseNet"]
	path = repo/BCI/EEG/EEGdenoiseNet
	url = https://github.com/ncclabsustech/EEGdenoiseNet.git
[submodule "repo/BCI/EEG/RELAX"]
	path = repo/BCI/EEG/RELAX
	url = https://github.com/NeilwBailey/RELAX.git
[submodule "repo/LLMApp/visual-openllm"]
	path = repo/LLMApp/visual-openllm
	url = https://github.com/visual-openllm/visual-openllm.git
[submodule "repo/Multi-Modal/mm-cot"]
	path = repo/Multi-Modal/mm-cot
	url = https://github.com/amazon-science/mm-cot.git
[submodule "repo/Conference/CVPR2023-Papers-with-Code"]
	path = repo/Conference/CVPR2023-Papers-with-Code
	url = https://github.com/amusi/CVPR2023-Papers-with-Code.git
[submodule "repo/Career/AI-Job-Notes"]
	path = repo/Career/AI-Job-Notes
	url = https://github.com/amusi/AI-Job-Notes.git
[submodule "repo/Career/Deep-Learning-Interview-Book"]
	path = repo/Career/Deep-Learning-Interview-Book
	url = https://github.com/amusi/Deep-Learning-Interview-Book.git
[submodule "repo/Multi-Modal/Painter"]
	path = repo/Multi-Modal/Painter
	url = https://github.com/baaivision/Painter.git
[submodule "repo/OpenAI/evals"]
	path = repo/OpenAI/evals
	url = https://github.com/openai/evals.git
[submodule "repo/LLM/CoT/Chain-of-ThoughtsPapers"]
	path = repo/Awesome-repo/Chain-of-ThoughtsPapers
	url = https://github.com/Timothyxxx/Chain-of-ThoughtsPapers.git
[submodule "repo/AIMotion/motion-latent-diffusion"]
	path = repo/AIGC/Text2Motion/motion-latent-diffusion
	url = https://github.com/ChenFengYe/motion-latent-diffusion.git
[submodule "repo/AIMotion/motion-diffusion-model"]
	path = repo/AIGC/Text2Motion/motion-diffusion-model
	url = https://github.com/GuyTevet/motion-diffusion-model.git
[submodule "repo/AIMotion/MotionDiffuse"]
	path = repo/AIGC/Text2Motion/MotionDiffuse
	url = https://github.com/mingyuan-zhang/MotionDiffuse.git
[submodule "repo/LLMApp/fauxpilot"]
	path = repo/LLMApp/fauxpilot
	url = https://github.com/fauxpilot/fauxpilot.git
[submodule "repo/LLMApp/JARVIS"]
	path = repo/LLMApp/JARVIS
	url = https://github.com/microsoft/JARVIS.git
[submodule "repo/LLM/CoT/ThoughtSource"]
	path = repo/LLM/CoT/ThoughtSource
	url = https://github.com/OpenBioLink/ThoughtSource.git
[submodule "repo/LLaMA/gpt4all"]
	path = repo/LLM/LLaMA/gpt4all_repo/gpt4all
	url = https://github.com/nomic-ai/gpt4all.git
[submodule "repo/AIGC/InvokeAI"]
	path = repo/AIGC/text22D/InvokeAI
	url = https://github.com/invoke-ai/InvokeAI.git
[submodule "repo/LLM/LLaMA/nomic"]
	path = repo/LLM/LLaMA/gpt4all_repo/nomic
	url = https://github.com/nomic-ai/nomic.git
[submodule "repo/LLM/LLaMA/alpaca-lora"]
	path = repo/LLM/LLaMA/alpaca-lora
	url = https://github.com/tloen/alpaca-lora.git
[submodule "repo/LLM/LLaMA/gpt4all-ui"]
	path = repo/LLM/LLaMA/gpt4all-ui
	url = https://github.com/nomic-ai/gpt4all-ui.git
[submodule "repo/LLM/LLaMA/codealpaca"]
	path = repo/LLM/LLaMA/codealpaca
	url = https://github.com/sahil280114/codealpaca.git
[submodule "repo/LLM/LLaMA/llama.cpp"]
	path = repo/LLM/LLaMA/llama.cpp
	url = https://github.com/ggerganov/llama.cpp.git
	branch = flash-attn
[submodule "repo/LLM/LLaMA/gpt4all_repo/gpt4all-ui"]
	path = repo/LLMApp/llama_cpp/gpt4all-ui
	url = https://github.com/yhyu13/gpt4all-ui.git
	branch = dev
[submodule "repo/LLM/ChatGLM/ChatGlm-Uni"]
	path = repo/LLM/ChatGLM/ChatGlm-Uni
	url = https://github.com/StarRing2022/ChatGlm-Uni.git
[submodule "repo/LLM/ChatGLM/CodeGeeX"]
	path = repo/LLM/ChatGLM/CodeGeeX
	url = https://github.com/THUDM/CodeGeeX.git
[submodule "repo/LLM/LLaMA/MiniGPT-4"]
	path = repo/LLM/LLaMA/MiniGPT-4
	url = https://github.com/Vision-CAIR/MiniGPT-4.git
[submodule "repo/LLMApp/llama_cpp/go-llama.cpp-ui"]
	path = repo/LLMApp/llama_cpp/go-llama.cpp-ui
	url = https://github.com/wailovet/go-llama.cpp-ui.git
[submodule "repo/LLM/LLaMA/ZeYangGPT-Uni"]
	path = repo/LLM/LLaMA/ZeYangGPT-Uni
	url = https://github.com/StarRing2022/ZeYangGPT-Uni.git
[submodule "repo/LLM/LLaMA/Chinese-Vicuna"]
	path = repo/LLM/LLaMA/Chinese-Vicuna
	url = https://github.com/Facico/Chinese-Vicuna.git
[submodule "repo/LLM/Debug/Visualizer"]
	path = repo/LLM/Debug/Visualizer
	url = https://github.com/luo3300612/Visualizer.git
[submodule "repo/LLM/Debug/Text-Attention-Heatmap-Visualization"]
	path = repo/LLM/Debug/Text-Attention-Heatmap-Visualization
	url = https://github.com/jiesutd/Text-Attention-Heatmap-Visualization.git
[submodule "repo/LLMApp/text-generation-webui"]
	path = repo/LLMApp/text-generation-webui
	url = https://github.com/yhyu13/text-generation-webui.git
	branch = dev
[submodule "repo/LLM/LLaMA/GPTQ-for-LLaMa"]
	path = repo/AIOptimization/GPTQ-for-LLaMa
	url = https://github.com/yhyu13/GPTQ-for-LLaMa.git
	branch = cuda_dev
[submodule "repo/LLM/Prompting/PromptKG"]
	path = repo/LLM/Prompting/PromptKG
	url = https://github.com/zjunlp/PromptKG.git
[submodule "repo/LLM/Moss/MOSS"]
	path = repo/LLM/Moss/MOSS
	url = https://github.com/yhyu13/MOSS.git
	branch = dev
[submodule "repo/LLM/Moss/MOSS-DockerFile"]
	path = repo/LLM/Moss/MOSS-DockerFile
	url = https://github.com/linonetwo/MOSS-DockerFile.git
[submodule "repo/Multi-Modal/awesome-segment-anything"]
	path = repo/Awesome-repo/awesome-segment-anything
	url = https://github.com/Hedlen/awesome-segment-anything.git
[submodule "repo/Multi-Modal/Track-Anything"]
	path = repo/Multi-Modal/Track-Anything
	url = https://github.com/gaomingqi/Track-Anything.git
[submodule "repo/Multi-Modal/Caption-Anything"]
	path = repo/Multi-Modal/Caption-Anything
	url = https://github.com/ttengwang/Caption-Anything.git
[submodule "repo/AIOptimization/JittorLLMs"]
	path = repo/AIOptimization/JittorLLMs
	url = https://github.com/Jittor/JittorLLMs.git
[submodule "repo/AIOptimization/gptq"]
	path = repo/AIOptimization/gptq
	url = https://github.com/IST-DASLab/gptq.git
[submodule "repo/AIOptimization/ggml/llama.cpp"]
	path = repo/AIOptimization/ggml/llama.cpp
	url = https://github.com/ggerganov/llama.cpp.git
[submodule "repo/AIOptimization/ggml/whisper.cpp"]
	path = repo/AIOptimization/ggml/whisper.cpp
	url = https://github.com/ggerganov/whisper.cpp.git
[submodule "repo/AIOptimization/ggml/ggml"]
	path = repo/AIOptimization/ggml/ggml
	url = https://github.com/ggerganov/ggml.git
[submodule "repo/Awesome-repo/Awesome-Vision-Attentions"]
	path = repo/Awesome-repo/Awesome-Vision-Attentions
	url = https://github.com/MenghaoGuo/Awesome-Vision-Attentions.git
[submodule "repo/Multi-Modal/LLaVA"]
	path = repo/Multi-Modal/LLaVA
	url = https://github.com/haotian-liu/LLaVA.git
[submodule "repo/Multi-Modal/ultralytics"]
	path = repo/Multi-Modal/ultralytics
	url = https://github.com/yhyu13/ultralytics.git
[submodule "repo/LLMApp/FastGPT"]
	path = repo/LLMApp/FastGPT
	url = https://github.com/c121914yu/FastGPT.git
[submodule "repo/Awesome-repo/TSFpaper"]
	path = repo/Awesome-repo/TSFpaper
	url = https://github.com/ddz16/TSFpaper.git
[submodule "repo/Awesome-repo/awesome-bci"]
	path = repo/Awesome-repo/awesome-bci
	url = https://github.com/NeuroTechX/awesome-bci.git
[submodule "repo/LLMApp/AgentGPT"]
	path = repo/LLMApp/AgentGPT
	url = https://github.com/yhyu13/AgentGPT.git
	branch = local_dev
[submodule "repo/LLM-Infastructure/conceptnet5"]
	path = repo/LLM-Infastructure/conceptnet5
	url = https://github.com/commonsense/conceptnet5.git
[submodule "repo/LLM-Infastructure/conceptnet5_docker"]
	path = repo/LLM-Infastructure/conceptnet5_docker
	url = https://github.com/tae898/conceptnet5.git
[submodule "repo/LLM-Infastructure/langchain"]
	path = repo/LLM-Infastructure/langchain
	url = https://github.com/hwchase17/langchain.git
[submodule "repo/LLM-Infastructure/GPTCache"]
	path = repo/LLM-Infastructure/GPTCache
	url = https://github.com/zilliztech/GPTCache.git
[submodule "repo/LLM/ChatRWKV/rwkv.cpp"]
	path = repo/LLM/ChatRWKV/rwkv.cpp
	url = https://github.com/saharNooby/rwkv.cpp.git
[submodule "repo/LLM/ChatRWKV/ChatRWKV"]
	path = repo/LLM/ChatRWKV/ChatRWKV
	url = https://github.com/BlinkDL/ChatRWKV.git
[submodule "repo/LLM-Infastructure/osschat"]
	path = repo/LLM-Infastructure/osschat
	url = https://github.com/kaiyuanshe/osschat.git
[submodule "repo/LLM-Infastructure/rpaframework"]
	path = repo/LLM-Infastructure/rpaframework
	url = https://github.com/robocorp/rpaframework.git
[submodule "repo/DeepMind/deepmind-research"]
	path = repo/DeepMind/deepmind-research
	url = https://github.com/deepmind/deepmind-research.git
[submodule "repo/OpenAI/plugins-quickstart"]
	path = repo/OpenAI/plugins-quickstart
	url = https://github.com/openai/plugins-quickstart.git
[submodule "repo/OpenAI/chatgpt-retrieval-plugin"]
	path = repo/OpenAI/chatgpt-retrieval-plugin
	url = https://github.com/openai/chatgpt-retrieval-plugin.git
[submodule "repo/LLM/CoT/chain-of-thought-hub"]
	path = repo/LLM/CoT/chain-of-thought-hub
	url = https://github.com/FranxYao/chain-of-thought-hub.git
[submodule "repo/AIGC/text22D/diffusion"]
	path = repo/AIGC/text22D/diffusion
	url = https://github.com/mosaicml/diffusion.git
[submodule "repo/AIGC/text23D/Sin3DGen"]
	path = repo/AIGC/text23D/Sin3DGen
	url = https://github.com/wyysf-98/Sin3DGen.git
[submodule "repo/LLMApp/gpt4free"]
	path = repo/LLMApp/gpt4free_repo/gpt4free_uncensored/gpt4free
	url = https://github.com/gptforfree/gpt4free.git
[submodule "repo/LLMApp/gpt4free_repo/gpt4free"]
	path = repo/LLMApp/gpt4free_repo/gpt4free
	url = https://github.com/xtekky/gpt4free.git
[submodule "repo/LLM/BLOOM/LLMZoo"]
	path = repo/LLM/BLOOM/LLMZoo
	url = https://github.com/FreedomIntelligence/LLMZoo.git
[submodule "repo/AIOptimization/AutoGPTQ"]
	path = repo/AIOptimization/AutoGPTQ
	url = https://github.com/yhyu13/AutoGPTQ.git
	branch = cuda_dev
[submodule "repo/Awesome-repo/awesome-neuro-ai-papers"]
	path = repo/Awesome-repo/awesome-neuro-ai-papers
	url = https://github.com/CYHSM/awesome-neuro-ai-papers.git
[submodule "repo/Architecture/torch_tem"]
	path = repo/Architecture/torch_tem
	url = https://github.com/jbakermans/torch_tem.git
[submodule "repo/Awesome-repo/chinese-open-science-network.github.io"]
	path = repo/Awesome-repo/chinese-open-science-network.github.io
	url = https://github.com/OpenSci-CN/chinese-open-science-network.github.io.git
[submodule "repo/Awesome-repo/read-papers"]
	path = repo/Awesome-repo/read-papers
	url = https://github.com/NorbertZheng/read-papers.git
[submodule "repo/LLMApp/web-llm"]
	path = repo/LLMApp/web-llm
	url = https://github.com/mlc-ai/web-llm.git
[submodule "repo/Architecture/spikformer"]
	path = repo/Architecture/spikformer
	url = https://github.com/ZK-Zhou/spikformer.git
[submodule "repo/Architecture/recurrent-memory-transformer-pytorch"]
	path = repo/Architecture/recurrent-memory-transformer-pytorch
	url = https://github.com/yhyu13/recurrent-memory-transformer-pytorch.git
[submodule "repo/LLMApp/cataclysm"]
	path = repo/LLMApp/cataclysm
	url = https://github.com/Mattie/cataclysm.git
[submodule "repo/LLM/Otter/Otter"]
	path = repo/LLM/Otter/Otter
	url = https://github.com/Luodian/Otter.git
[submodule "repo/LLM/Mosiac/llm-foundry"]
	path = repo/LLM/Mosiac/llm-foundry
	url = https://github.com/mosaicml/llm-foundry.git
[submodule "repo/LLM-Infastructure/one-api"]
	path = repo/LLM-Infastructure/one-api
	url = https://github.com/songquanpeng/one-api.git
[submodule "repo/Multi-Modal/ImageBind"]
	path = repo/FacebookAI/ImageBind
	url = https://github.com/facebookresearch/ImageBind.git
[submodule "repo/OpenAI/automated-interpretability"]
	path = repo/OpenAI/automated-interpretability
	url = https://github.com/openai/automated-interpretability.git
[submodule "repo/OpenAI/shap-e"]
	path = repo/OpenAI/shap-e
	url = https://github.com/openai/shap-e.git
[submodule "repo/LLM-Infastructure/mojo"]
	path = repo/LLM-Infastructure/mojo
	url = https://github.com/modularml/mojo.git
[submodule "repo/LLM-Infastructure/RPA-Python"]
	path = repo/LLM-Infastructure/RPA-Python
	url = https://github.com/tebelorg/RPA-Python.git
[submodule "repo/LLMApp/WebCPM"]
	path = repo/LLMApp/WebCPM
	url = https://github.com/thunlp/WebCPM.git
[submodule "repo/LLM/LLaMA/Dromedary"]
	path = repo/LLM/LLaMA/Dromedary
	url = https://github.com/IBM/Dromedary.git
[submodule "repo/LLMApp/autodoc"]
	path = repo/LLMApp/autodoc
	url = https://github.com/context-labs/autodoc.git
[submodule "repo/LLMApp/langchain-ChatGLM"]
	path = repo/LLMApp/langchain-ChatGLM
	url = https://github.com/imClumsyPanda/langchain-ChatGLM.git
[submodule "repo/LLM-Infastructure/semantic-kernel"]
	path = repo/LLM-Infastructure/semantic-kernel
	url = https://github.com/microsoft/semantic-kernel.git
[submodule "repo/LLM/LLaMA/llmtune"]
	path = repo/LLM/LLaMA/llmtune
	url = https://github.com/kuleshov-group/llmtune.git
[submodule "repo/Architecture/efficient-attention"]
	path = repo/Architecture/efficient-attention
	url = https://github.com/HKUNLP/efficient-attention.git
[submodule "repo/BCI/Deep-Learning-for-BCI"]
	path = repo/BCI/Deep-Learning-for-BCI
	url = https://github.com/xiangzhang1015/Deep-Learning-for-BCI.git
[submodule "repo/LLM/CoT/tree-of-thought-puzzle-solver"]
	path = repo/LLM/CoT/tree-of-thought-puzzle-solver
	url = https://github.com/jieyilong/tree-of-thought-puzzle-solver.git
[submodule "repo/LLM-Infastructure/lamini"]
	path = repo/LLM-Infastructure/lamini
	url = https://github.com/lamini-ai/lamini.git
[submodule "repo/LLMApp/MC-Planner"]
	path = repo/LLM/Other/MC-Planner
	url = https://github.com/CraftJarvis/MC-Planner.git
[submodule "repo/LLMApp/bloop"]
	path = repo/LLMApp/bloop
	url = https://github.com/BloopAI/bloop.git
[submodule "repo/LLM/CoT/pal"]
	path = repo/LLM/CoT/pal
	url = https://github.com/reasoning-machines/pal.git
[submodule "repo/LLM/ChatGLM/VisualGLM-6B"]
	path = repo/LLM/ChatGLM/VisualGLM-6B
	url = https://github.com/THUDM/VisualGLM-6B.git
[submodule "repo/LLM/LLaMA/LLaMA-Adapter"]
	path = repo/LLM/LLaMA/LLaMA-Adapter
	url = https://github.com/ZrrSkywalker/LLaMA-Adapter
[submodule "repo/LLM/CoT/ReAct"]
	path = repo/LLM/CoT/ReAct
	url = https://github.com/ysymyth/ReAct.git
[submodule "repo/AIPhysics/brax"]
	path = repo/AIPhysics/brax
	url = https://github.com/google/brax.git
[submodule "repo/AIPhysics/simple_superTrack"]
	path = repo/AIPhysics/simple_superTrack
	url = https://github.com/kistf001/simple_superTrack.git
[submodule "repo/AIPhysics/diffmimic"]
	path = repo/AIPhysics/diffmimic
	url = https://github.com/jiawei-ren/diffmimic.git
[submodule "repo/LLM/RLHF/safe-rlhf"]
	path = repo/LLM/RLHF/safe-rlhf
	url = https://github.com/PKU-Alignment/safe-rlhf.git
[submodule "repo/LLM-Infastructure/unilm"]
	path = repo/LLM-Infastructure/unilm
	url = https://github.com/microsoft/unilm.git
[submodule "repo/LLMApp/AgentLLM"]
	path = repo/LLMApp/AgentLLM
	url = https://github.com/yhyu13/AgentLLM.git
[submodule "repo/LLM-Robotics/tidybot"]
	path = repo/LLM-Robotics/tidybot
	url = https://github.com/jimmyyhwu/tidybot.git
[submodule "repo/LLM-Robotics/Inagaki_2023_GPT4OT2"]
	path = repo/LLM-Robotics/Inagaki_2023_GPT4OT2
	url = https://github.com/labauto/Inagaki_2023_GPT4OT2.git
[submodule "repo/LLM/nanogpt/NanoGPT-Pytorch2.0-Implementation"]
	path = repo/LLM/nanogpt/NanoGPT-Pytorch2.0-Implementation
	url = https://github.com/JerryYin777/NanoGPT-Pytorch2.0-Implementation.git
[submodule "repo/LLM/nanogpt/nanoGPTplus"]
	path = repo/LLM/nanogpt/nanoGPTplus
	url = https://github.com/Andrei-Aksionov/nanoGPTplus.git
[submodule "repo/LLM/nanogpt/testGPT"]
	path = repo/LLM/nanogpt/testGPT
	url = https://github.com/AttentionX/testGPT.git
[submodule "repo/LLM/nanogpt/nanoGPT"]
	path = repo/LLM/nanogpt/nanoGPT
	url = https://github.com/karpathy/nanoGPT.git
[submodule "repo/LLM/CoT/tree-of-thoughts"]
	path = repo/LLM/CoT/tree-of-thoughts
	url = https://github.com/yhyu13/tree-of-thoughts.git
